<% errors = model.errors %>

<% if errors.any? %>
  <ul class="nav flex-column">
    <% errors.full_messages.each do |message| %>
      <li class="alert alert-warning my-1 nav-item d-flex justify-content-between flex-fill">
        <span><%= message %></span>
        <%= content_tag(:button, '×', class: 'close', data: {dismiss: 'alert'}) %>
      </li>
    <% end %>
  </ul>
<% end %>
